*{
  font-family:Helvetica,sans-serif,Arial;
}
body{
  background:#cfc;
}
div#puzzle,div#tip-container{
  float:left;
}
div#tip-container{
  margin-left: 40px;
}
div.puzzle-img img{
  border:1px solid #000;
}
div.puzzle-img{
  float:left;
}
div.puzzle-row{
  clear:both;
}
