*{
  font-family:Helvetica,sans-serif,Arial;
}
body{
  background:#cfc;
}
div#puzzle,div#tip-container{
  float:left;
}
div#tip-container{
  margin-left: 40px;
}
div.puzzle-img img{
  border:1px solid #000;
}
div.puzzle-img{
  float:left;
}
div.puzzle-row{
  clear:both;
}
.btn-facebook{
  color:#FFF;
  font-size:14px;
  font-weight:bold;
  background:url(../img/btn-facebook.png) no-repeat scroll 0 0 transparent;
  border:0px;
  background-repeat:no-repeat;
  height:47px;
  width:180px;
  margin-top:10px;
  cursor:pointer;
}
